html, body {
  height: 100%;
  width: 100%;
}
th, td {
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightgray;
  padding: 10px;
}
.container {
  text-align: center;
  left: 0;
  right: 0;
 }

.main {
  position:relative;
  width: 300px;
  min-height: 60px;
  margin: auto;
  padding-top:15px;
}

.main:before {
  content:'';
  position: absolute;
  width: 220px;
  height: 140px;
  margin: auto;
  z-index: -1;
  border: 5px solid #1e00ff;
  left:40px;
}